/* Infobar starts */

.infobar {
    background-color: var(--clr-dark);
    color: var(--clr-white);
    padding: var(--size-16px) 0rem;
    display: none;
    text-transform: capitalize;
}

.infobar__left {
    width: 100%;
}

.infobar__list {
    gap: var(--size-48px);
    justify-content: space-between;
}

.infobar__list li {
    gap: .8rem;
    font-size: var(--size-16px);
    opacity: 80%;
    position: relative;
}

.infobar__list li:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(130% + var(--size-24px));
    transform: translateY(-50%);
    width: .3rem;
    height: 100%;
    background-color: var(--clr-white);
    opacity: 80%;
}

.infobar__list .infobar__icon {
    font-size: 18px;
}

.infobar__social-icon {
    font-size: var(--size-24px);
    gap: var(--size-32px);
    opacity: 80%;
    cursor: pointer;
}

.infobar__social-icon i:hover {
    color: var(--clr-red);
}

/* Infobar ends */

/* Navbar starts */
.navbar {
    min-height: 7.2rem;
    color: var(--clr-text);
}

.nav__wrapper {
    width: 100%;
}

.nav__left>span a {
    font-size: 2rem;
    letter-spacing: -.4px;
    font-weight: 600;
    color: var(--clr-text);
}

.nav__middle ul {
    gap: var(--size-48px);

}

.nav__middle ul li {
    display: none;
}

.nav__middle ul li a {
    font-size: var(--size-16px);
    color: var(--clr-text);
    text-transform: capitalize;
    position: relative;
}

.nav__middle ul li a:hover {
    color: var(--clr-red);
    font-weight: 600;
}

.nav__middle ul li a::after {
    content: "";
    height: .32rem;
    width: 0%;
    position: absolute;
    left: 0;
    background-color: var(--clr-red);
    bottom: -.2rem;
    transition: width 0.3s ease;
}

.nav__middle ul li a:hover::after {
    width: 100%;
}

.nav__right>a {
    font-size: var(--size-18px);
    padding: 1.2rem 2.4rem;
    background-color: var(--clr-red);
    color: var(--clr-white);
    display: none;
    font-weight: 600;
}

.hamburger__menu>i {
    font-size: 2.4rem;
    color: var(--clr-text);
}

.dropdown {
    position: absolute;
    right: 0;
    left: 0;
    top: 10%;
    background-color: var(--clr-white);
    padding: 4rem;
    display: none;
    z-index: 99;
}

.dropdown ul {
    gap: var(--size-16px);
}

.dropdown ul li a {
    font-size: var(--size-16px);
    color: var(--clr-text);
    text-transform: capitalize;
}

.dropdown__cta {
    font-size: var(--size-16px);
    padding: 1.2rem 2.4rem;
    background-color: var(--clr-red);
    color: var(--clr-white);
    font-weight: 500;
    font-family: "Inter", sans-serif;
}

/* Navbar ends */

/* Banner Starts */
.banner {
    background-image: url("/assets/images/Banner\ img.jpg");
    position: relative;
    z-index: 1;
    background-position: center 42%;
    background-size: cover;
}

.banner::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--clr-dark);
    opacity: 80%;
    z-index: -1;
}

.banner__content-wrapper {
    padding: 9.6rem 0rem;
    color: var(--clr-white);
    font-size: 2.2rem;
}

/* Banner Ends */

/* Pricing Starts */
.pricing__heading-wrapper {
    text-align: center;
}

.pricing__description {
    max-width: 52ch;
}

.pricing__cards-wrapper {
    gap: var(--size-24px);
}

.pricing__card {
    background-color: #ffffff;
    opacity: 96%;
    color: var(--clr-text);
    padding: var(--size-24px) var(--size-16px);
    font-family: "Inter", sans-serif;
    display: grid;
}

.pricing__card:nth-child(2) {
    background-color: var(--clr-red);
    color: var(--clr-white);
    opacity: 96%;
}

.pricing__card-content {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: 1 / 7;
    gap: 1.6rem;
}

.pricing__card-tittle {
    font-size: var(--size-18px);
}

.pricing__card-description {
    font-size: var(--size-14px);
}

.pricing__card-price {
    font-size: var(--size-24px);
    font-weight: 600;
}

.pricing__hr {
    height: .16rem;
    width: 100%;
    background-color: var(--clr-dark);
    opacity: 60%;
}

.pricing__hr-white {
    background-color: var(--clr-white);
}

.pricing__card-services ul {
    gap: var(--size-16px);
}

.pricing__card-services ul li {
    font-size: var(--size-14px);
    gap: .8rem;
    display: flex;
}

.pricing__card a {
    padding: 1.2rem 2.4rem;
    font-size: var(--size-18px);
    border: 1.6px solid var(--clr-text);
    color: var(--clr-text);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    font-weight: 500;
    font-family: 'Inter';
}

.pricing__card:nth-child(2) a {
    border: none;
    background-color: var(--clr-dark);
    color: var(--clr-white);
    opacity: 96%;
}

/* Pricing Ends */

/* CTA Section Starts */
.cta {
    margin: 4rem 0rem;
}

.cta__container {
    background: url("/assets/images/Cta\ img.jpg");
    position: relative;
    z-index: 1;
    background-position: center 32%;
    background-size: cover;
}

.cta__container::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--clr-dark);
    opacity: 80%;
    z-index: -1;
}

.cta__heading-wrapper {
    gap: var(--size-24px);
}

.cta__heading-wrapper>span {
    font-size: 2.8rem;
    color: var(--clr-white);
    font-weight: 500;
    text-align: center;
}

/* CTA Section Ends */

/* Footer Starts */
.footer {
    background-color: var(--clr-dark);
    color: var(--clr-white);
}

.footer__content-wrapper {
    padding: 5.6rem 0rem;
    gap: var(--size-32px);
}

.footer__top {
    gap: 2.4rem;
}

.footer__brand {
    gap: var(--size-16px)
}

.footer__logo {
    font-size: var(--size-24px);
    font-weight: 600;
}

.footer__description {
    font-size: var(--size-14px);
    opacity: 90%;
    max-width: 52ch;
}

.footer__links-wrapper {
    gap: var(--size-24px);
    flex-wrap: wrap;
}

.footer__links-group {
    gap: 1.6rem;
}

.footer__links-group .footer__heading {
    font-size: 1.8rem;
    opacity: 96%;
}

.footer__links-list>li {
    max-width: 18ch;
    line-height: 1.4;
}

.footer__links-list {
    gap: .8rem;
    font-size: var(--size-14px);
    opacity: 80%;
}

.footer__links-list>li,
.footer__link,
.footer__links-group>h3,
.footer__card-description {
    color: var(--clr-white);
    position: relative;
    transition: 0.3s ease;
}

.footer__links-list .footer__link::after {
    content: "";
    height: 100%;
    width: 0rem;
    position: absolute;
    background-color: var(--clr-red);
    left: -.5rem;
    top: 0;
    transition: 0.3s all ease;
}

.footer__links-list .footer__link:hover {
    transform: translateX(.6rem);
    display: block;
}

.footer__links-list .footer__link:hover::after {
    width: .2rem;
}

.footer__hr {
    width: 100%;
    height: .16rem;
    background-color: var(--clr-white);
    opacity: 60%;
}

.footer__bottom-content {
    font-size: var(--size-12px);
    gap: 1.6rem;
    flex-wrap: wrap;
    text-transform: capitalize;
    font-weight: 400;
    opacity: 80%;
}

/* Footer Ends */

/* Media query starts */

@media (min-width: 768px) {

    /* Footer Starts */
    .footer__brand {
        gap: var(--size-24px);
    }

    .footer__top {
        gap: var(--size-32px);
    }

    /* Footer Ends */
}

/* Large screens (lg) */
@media (min-width: 960px) {
    .nav__left>span a {
        font-size: var(--size-24px);
    }

    .nav__middle ul li,
    .nav__right a,
    .infobar {
        display: block;
    }

    .hamburger__menu {
        display: none;
    }

    .infobar__right {
        display: none;
    }

    /* Infobar Ends */

    /* Pricing Starts */
    .pricing__card {
        padding: var(--size-40px) var(--size-24px);
    }

    .pricing__card-content {
        gap: var(--size-24px);
    }

    .pricing__card-tittle {
        font-size: var(--size-24px);
    }

    .pricing__card-description {
        font-size: var(--size-16px);
    }

    .pricing__card-price {
        font-size: var(--size-32px);
    }

    .pricing__card-services ul li {
        font-size: var(--size-16px);
        gap: var(--size-16px);
    }

    .pricing__card-services ul li i {
        font-size: 2rem;
    }

    .pricing__card a {
        font-size: 2.2rem;
    }

    /* Pricing Ends */

    /* CTA Section Starts */
    .cta {
        margin: 6rem 0rem;
    }

    .cta__heading-wrapper {
        gap: var(--size-32px);
    }

    .cta__heading-wrapper>span {
        font-size: var(--size-40px);
        color: var(--clr-white);
        font-weight: 500;
    }

    /* CTA Section Ends */

    /* Footer Starts */
    .footer__top {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer__description {
        max-width: 28ch;
        font-size: var(--size-16px);
    }

    .footer__links-wrapper,
    .footer__bottom-content {
        justify-content: space-between;
        flex-wrap: nowrap;
        gap: 6.4rem;
    }

    .footer__links-group .footer__heading {
        font-size: 2rem;
    }

    .footer__links-list {
        font-size: var(--size-16px);
    }

    .footer__bottom-content {
        font-size: var(--size-14px);
    }

    /* Footer Ends */
}

/* Medium screen (md) */
@media (min-width: 1024px) {
    .infobar__right {
        display: block;
    }

    .infobar__left {
        width: fit-content;
    }

    .infobar__list li:not(:last-child)::after {
        display: none;
    }
}